<h4>Application form</h4>
<form action="/job/{{job['id']}}/apply" method="POST">
    <div class="mb-2">
    <label>Full Name</label><br>
    <input type="text" name="full_name" placeholder="Bruce_Wayne">
    </div>
    <div class="mb-2">
    <label>Email</label><br>
    <input type="text" name="email" placeholder="bruce@Wayne.com">
    </div>
    <div class="mb-2">
    <label>LinkedIn URL </label><br>
    <input type="text" name="email" placeholder="https://linkedin.com/in/brucewayne">
    </div>

    <input type="submit" value="Submit">
</form>
